body {font-family: 'Open Sans', sans-serif; font-weight: 400; letter-spacing: 0.1em;}
.navbar .navbar-inner {
	min-height:40px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #41A7FF;
	background-image: -moz-linear-gradient(top, #66EDFF, #41A7FF);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#66EDFF), to(#41A7FF));
	background-image: -webkit-linear-gradient(top, #66EDFF, #41A7FF);
	background-image: -o-linear-gradient(top, #66EDFF, #41A7FF);
	background-image: linear-gradient(to bottom, #66EDFF, #41A7FF);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66EDFF', endColorstr='#41A7FF', GradientType=0);
	border-top: 1px solid #CAF9FF;
	border-right: 0px;
	border-bottom: 1px solid #000;
	border-left: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	*zoom:1;
}
h2 {font-size: 14px; font-weight: 600; color: #CCC; text-shadow:0 1px 4px #333; letter-spacing: 0.1em; line-height: 1.5em; margin-top: 0px;}
.navbar .nav > li > a {background: transparent; border: none; box-shadow: none; color: #333; text-shadow: none; font-weight: normal;}
.navbar .nav > li.active > a {background: transparent; border: none; box-shadow: none; color: #333; text-shadow: none; font-weight: normal;}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {background: transparent; border: none; box-shadow: none; color: #000; text-shadow: none; font-weight: normal; text-decoration:none;}
.navbar .nav > li.active > a:focus, .navbar .nav > li.active > a:hover {background: transparent; border: none; box-shadow: none; color: #000; text-shadow: none; font-weight: normal; text-decoration:none;}

.navbar a.brand {background: transparent; border: none; box-shadow: none; color: #333; text-shadow: none;}
.container, .container-fluid {padding: 40px 0; margin: 0; background: #48484A url(../img/background-main.png) repeat left top;}
.forecast {padding: 10px; height: 150px; border-bottom: 1px solid #323234; background: #3E3E3F url(../img/forecast-stub.png) no-repeat left top;}
.schedule {padding: 10px; height: 400px; border-top: 1px solid #4B4B4C; border-right: 1px solid #323234; border-bottom: 1px solid #323234; background: url(../img/schedule-stub.png) no-repeat center center;}
.usage {padding: 10px; height: 400px; border-left: 1px solid #4B4B4C; border-bottom: 1px solid #323234;}

table.water-usage {border: none; padding: none; margin: 20px 10px;}
table.water-usage tr {text-align: left;}
table.water-usage tr th {font-size: 12px; color: #999; font-weight: 400; padding-right: 50px;}
table.water-usage tr td {font-size: 16px; color: #E5E5E5; font-weight: 400; padding-bottom: 20px;}

img.usage-chart {margin-left: 10px;}

.caption {font-size: 12px; color: #CCC; margin-left: 10px; margin-top: 5px;}