<!DOCTYPE html> 
<html> 
<head> 
	<title>HydroGadget Remote</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/static/css/jquery.mobile-1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="/static/js/jquery-1.8.2.min.js"></script>
	<script src="/static/js/jquery.mobile-1.2.0.min.js"></script>

    <script type="text/javascript">

	$(document).ready (
		
		function() {
			
			// Not used for the demo
			$('#flip-4').slider('disable');
		
			// Grab the currently running event and render on page load	
			$.ajax({
			  url: '/current/event',
			  success:function(data){
				$('#flip-' + data.valve).val('on').slider("refresh");
			  }
			});
			
			// Push the event for valve 1
			$("#flip-1").on('slidestop', function( event ) {
				
				manualEvent = {};
				
				var d = new Date();
				currentTime = String() + String(d.getMinutes());
				
				// Figure out if it is on or off
			    var isNowOff = $("#flip-1")[0].selectedIndex == 0 ? true:false;
				var isNowOn = $("#flip-1")[0].selectedIndex == 1 ? true:false;
				
				// The valve was on, so shut it off.
				if (isNowOff) {
					manualEvent = {'valve':1, 'duration':0,'command':0,'start_time':currentTime};
					
					$.ajax({
					  type:    'POST',
					  url:     '/add/priority',
					  data:    manualEvent,
					});
				}

				// The valve was not on, so figure out what valve 
				// *was* on and shut that down first.
				if (isNowOn) {
					
					$.ajax({
					  url: '/current/event',
					  success:function(data){
						
						$('#flip-' + data.valve).val('off').slider("refresh");
						
						manualEvent = {'valve':data.valve, 'duration':0,'command':0,'start_time':currentTime};

						$.ajax({
						  type:    'POST',
						  url:     '/add/priority',
						  data:    manualEvent,
						});
						
						manualEvent = {'valve':1, 'duration':2,'command':0,'start_time':currentTime};

						$.ajax({
						  type:    'POST',
						  url:     '/add/priority',
						  data:    manualEvent,
						});
						
					  }
					});					
				} // end if
			});

			// Push the event for valve 2
			$("#flip-2").on('slidestop', function( event ) {
				
				manualEvent = {};
				
				var d = new Date();
				currentTime = String(d.getHours()) + String(d.getMinutes());
				
				// Figure out if it is on or off
			    var isNowOff = $("#flip-2")[0].selectedIndex == 0 ? true:false;
				var isNowOn = $("#flip-2")[0].selectedIndex == 1 ? true:false;
				
				// The valve was on, so shut it off.
				if (isNowOff) {
					manualEvent = {'valve':2, 'duration':0,'command':0,'start_time':currentTime};
					
					$.ajax({
					  type:    'POST',
					  url:     '/add/priority',
					  data:    manualEvent,
					});
				}

				// The valve was not on, so figure out what valve 
				// *was* on and shut that down first.
				if (isNowOn) {
					
					$.ajax({
					  url: '/current/event',
					  success:function(data){
						
						$('#flip-' + data.valve).val('off').slider("refresh");
						
						manualEvent = {'valve':data.valve, 'duration':0,'command':0,'start_time':currentTime};

						$.ajax({
						  type:    'POST',
						  url:     '/add/priority',
						  data:    manualEvent,
						});
						
						
						manualEvent = {'valve':2, 'duration':2,'command':0,'start_time':currentTime};

						$.ajax({
						  type:    'POST',
						  url:     '/add/priority',
						  data:    manualEvent,
						});
						
					  }
					});					
				} // end if
			});

			// Push the event for valve 3
			$("#flip-3").on('slidestop', function( event ) {
				
				manualEvent = {};
				
				var d = new Date();
				currentTime = String(d.getHours()) + String(d.getMinutes());
				
				// Figure out if it is on or off
			    var isNowOff = $("#flip-3")[0].selectedIndex == 0 ? true:false;
				var isNowOn = $("#flip-3")[0].selectedIndex == 1 ? true:false;
				
				// The valve was on, so shut it off.
				if (isNowOff) {
					manualEvent = {'valve':3, 'duration':0,'command':0,'start_time':currentTime};
					
					$.ajax({
					  type:    'POST',
					  url:     '/add/priority',
					  data:    manualEvent,
					});
				}

				// The valve was not on, so figure out what valve 
				// *was* on and shut that down first.
				if (isNowOn) {
					
					$.ajax({
					  url: '/current/event',
					  success:function(data){
						
						$('#flip-' + data.valve).val('off').slider("refresh");
						
						manualEvent = {'valve':data.valve, 'duration':0,'command':0,'start_time':currentTime};

						$.ajax({
						  type:    'POST',
						  url:     '/add/priority',
						  data:    manualEvent,
						});
						
						manualEvent = {'valve':3, 'duration':2,'command':0,'start_time':currentTime};

						$.ajax({
						  type:    'POST',
						  url:     '/add/priority',
						  data:    manualEvent,
						});
						
					  }
					});					
				} // end if
			});

			// Push the event for valve 4
			$("#flip-4").on('slidestop', function( event ) {
				
				manualEvent = {};
				
				var d = new Date();
				currentTime = String(d.getHours()) + String(d.getMinutes());
				
				// Figure out if it is on or off
			    var isNowOff = $("#flip-4")[0].selectedIndex == 0 ? true:false;
				var isNowOn = $("#flip-4")[0].selectedIndex == 1 ? true:false;
				
				// The valve was on, so shut it off.
				if (isNowOff) {
					manualEvent = {'valve':4, 'duration':0,'command':0,'start_time':currentTime};
					
					$.ajax({
					  type:    'POST',
					  url:     '/add/priority',
					  data:    manualEvent,
					});
				}

				// The valve was not on, so figure out what valve 
				// *was* on and shut that down first.
				if (isNowOn) {
					
					$.ajax({
					  url: '/current/event',
					  success:function(data){
						
						$('#flip-' + data.valve).val('off').slider("refresh");
						
						manualEvent = {'valve':data.valve, 'duration':0,'command':0,'start_time':currentTime};

						$.ajax({
						  type:    'POST',
						  url:     '/add/priority',
						  data:    manualEvent,
						});
						
						
						manualEvent = {'valve':4, 'duration':2,'command':0,'start_time':currentTime};

						$.ajax({
						  type:    'POST',
						  url:     '/add/priority',
						  data:    manualEvent,
						});
						
					  }
					});					
				} // end if
			});			
		});

    </script>

</head> 
<body> 

<div data-role="page">

    <div data-role="header"
         data-theme="a"
         style="padding-top:15px;padding-bottom:15px;padding-left:10px;margin-bottom:0px;">
        <b>HydroGadget Remote</b>
	</div><!-- /header -->

    <div data-role="content" style="padding-top:0px;">

        <p>
        <b>
        5535 Hawley Ct, Las Vegas, NV<br/>
        Watering Group: A (M-W-F)
        </b>
        </p>

        <ul data-role="listview" data-inset="true" data-filter="false">

            <li>
            <div class="ui-grid-a">

                <div class="ui-block-a">
                    <label for="flip-1" style="display:none;"></label>
                    <h4>Front Yard:</h4>
                </div>

                <div class="ui-block-b" style="text-align:right;">
                    <select name="flip-1" id="flip-1" data-role="slider">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select> 
                </div>
            </div>
            </li>

            <li>
            <div class="ui-grid-a">

                <div class="ui-block-a">
                    <label for="flip-2" style="display:none;"></label>
                    <h4>Back Yard:</h4>
                </div>

                <div class="ui-block-b" style="text-align:right;">
                    <select name="flip-2" id="flip-2" data-role="slider">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select> 
                </div>
            </div>
            </li>

            <li>
            <div class="ui-grid-a">

                <div class="ui-block-a">
                    <label for="flip-3" style="display:none;"></label>
                    <h4>Side Yard:</h4>
                </div>

                <div class="ui-block-b" style="text-align:right;">
                    <select name="flip-3" id="flip-3" data-role="slider">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select> 
                </div>
            </div>
            </li>

            <li>
            <div class="ui-grid-a">

                <div class="ui-block-a">
                    <label for="flip-4" style="display:none;"></label>
                    <h4>Side Lawn:</h4>
                </div>

                <div class="ui-block-b" style="text-align:right;">
                    <select name="flip-4" id="flip-4" data-role="slider">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select> 
                </div>
            </div>
            </li>

    </ul>
	</div><!-- /content -->

       
</div><!-- /page -->

</body>
</html>

