<!DOCTYPE html> 
<html> 
<head> 
	<title>HydroGadget Remote</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/static/css/jquery.mobile-1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="/static/js/jquery-1.8.2.min.js"></script>
	<script src="/static/js/jquery.mobile-1.2.0.min.js"></script>

    <script type="text/javascript">

    $(document).ready (
        function() {
            $("#flip-1").on('slidestop', 
                function( event ) {
                if ( $('#flip-2').attr('disabled') == 'disabled') {
                    $('#flip-2').slider('enable');
                } else {
                    $('#flip-2').slider('disable');
                }
              }
            );
        }
    );

    </script>

</head> 
<body> 

<div data-role="page">

    <div data-role="header"
         data-theme="a"
         style="padding-top:15px;padding-bottom:15px;padding-left:10px;margin-bottom:0px;">
        <b>HydroGadget Remote</b>
	</div><!-- /header -->

    <div data-role="content" style="padding-top:0px;">

        <p>
        <b>
        5535 Hawley Ct, Las Vegas, NV<br/>
        Watering Group: A (M-W-F)
        </b>
        </p>

        <ul data-role="listview" data-inset="true" data-filter="false">

            <li>
            <div class="ui-grid-a">

                <div class="ui-block-a">
                    <label for="flip-1" style="display:none;"></label>
                    <h4>Valve 1:</h4>
                </div>

                <div class="ui-block-b" style="text-align:right;">
                    <select name="flip-1" id="flip-1" data-role="slider">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select> 
                </div>
            </div>
            </li>

            <li>
            <div class="ui-grid-a">

                <div class="ui-block-a">
                    <label for="flip-2" style="display:none;"></label>
                    <h4>Valve 2:</h4>
                </div>

                <div class="ui-block-b" style="text-align:right;">
                    <select name="flip-2" id="flip-2" data-role="slider">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select> 
                </div>
            </div>
            </li>

            <li>
            <div class="ui-grid-a">

                <div class="ui-block-a">
                    <label for="flip-3" style="display:none;"></label>
                    <h4>Valve 3:</h4>
                </div>

                <div class="ui-block-b" style="text-align:right;">
                    <select name="flip-3" id="flip-3" data-role="slider">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select> 
                </div>
            </div>
            </li>

            <li>
            <div class="ui-grid-a">

                <div class="ui-block-a">
                    <label for="flip-4" style="display:none;"></label>
                    <h4>Valve 4:</h4>
                </div>

                <div class="ui-block-b" style="text-align:right;">
                    <select name="flip-4" id="flip-4" data-role="slider">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select> 
                </div>
            </div>
            </li>

    </ul>
	</div><!-- /content -->

       
</div><!-- /page -->

</body>
</html>

